Assignment 01

Question1

In [6]:
#Python Program to accept the details of a student like name, roll number and mark and display it
Name = input("Enter the Name: ")
Rollnumber = input("Enter the Rollnumber: ")
Mark = input("Enter the mark: ")

Enter the Name: Achu
Enter the Rollnumber: 2
Enter the mark: 45

Question2

In [25]:
#Python program to convert temperatures to and from Celsius Fahrenheit
Fahrenheit = int(input('Enter Fahrenheit'))
Celcius = (((Fahrenheit-32)*5)/9)
print ('Temperature in celcius = ', Celcius)

Enter Fahrenheit98
Temperature in celcius =  36.666666666666664

Question 3

In [28]:
#Python program to accept two numbers from the user and display its product
a = int(input('Enter a'))
b = int(input('Enter b'))
p = a*b
print (p)

Enter a34
Enter b56
1904

Question 4

In [34]:
# Python program to accept a string “Learn Python by Developing a Website” and display the string like “Learn**Python** by Developing a **Website**”
print ('Learn',end = '**')
print ('Python',end = '** ')
print ('by Developing a',end = ' **')
print ('Website', end = '**' )

Learn**Python** by Developing a **Website**

Question 5

In [35]:
#Write a Python program to accept the radius of a circle and display its area
#program to find area
import math
rad= int(input('Enter radius')) #read input
Area = math.pi* rad**2  #calculate area
print ('Area of circle =', Area)

Enter radius5
Area of circle = 78.53981633974483

Question 6

In [37]:
# Python program to insert a number to any position in a list (Get the number to be inserted and position from the user)
ls = [1,9,8,7,4,6,7]
ls.insert(1, int(input('Enter integer'))) 
print (ls)

Enter integer354
[1, 354, 9, 8, 7, 4, 6, 7]

Question 7

In [38]:
# program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict["location"] = sample_dict.pop("city")
print (sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

Question 8

In [41]:
#Python program to change Brad’s salary to 8500 in the following dictionary.
sample_dict = {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict ['emp3'] ['salary'] = 8500
print (sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Question 9

In [44]:
 # program to copy elements 43 and 54 from the following tuple into a new tuple
tuple1 = (10, 20, 43, 54, 56, 68)
tup2 = (tuple1[2], tuple1[3])
print (tup2)

(43, 54)

Question 10

In [45]:
#Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3